.row
  .col-md-12
    %h2= @question.title
    Content:
    = @question.content
    %br
    Name:
    = @question.name
    %hr
    %h3 Answer
    %table.table.table-striped
      - if @question.answers.any?
        %thead.thead-light
          %tr
            %td Answer
            %td Name
            %td Menu
        %tbody
          - @question.answers.each do |answer|
            %tr
              %td
                = answer.content
              %td
                = answer.name
              %td
                = link_to 'Edit', edit_question_answer_path(@question, answer)
                %br/
                = link_to 'Delete', question_answer_path(@question, answer), method: :delete, data:{ confirm: 'Are you sure?'}
          %end
      - else
        %p No answer yet.
      %end

    %h3 Post new answer.
    = form_with model: [@question, @answer], local: true do |f|
      = f.hidden_field :question_id, { value: @question.id}
      .form-group
        %label Name
        = f.text_field :name, class: 'form-control'
      .form-group
        %label Content
        = f.text_area :content, class: 'form-control'
      .text-center
        = f.submit "Post", class: 'btn btn-primary'

      = link_to '> Home', root_path